.text-shadow {
    text-shadow: 0 0 4px rgb(203, 203, 203) !important;
}

.carousel-inner {
    height: 650px !important;
}

.row {
    margin: 0;
}

.height {
    height: 100%;
}

.card-trend {
    position: relative;
    height: 200px !important;
}

.card-trend img:nth-child(1) {

    display: none;
}

.card-trend img:nth-child(2) {
    display: block;
}

.card-trend:hover {
    transition: 0.5s all ease-in-out;
    box-shadow: 0 0 10px 0 rgb(255, 208, 0);
}

.card-trend:hover {
    transition: 0.5s all ease-in-out;
    box-shadow: 0 0 10px 0 rgb(255, 208, 0);
}

.card-trend:hover img:nth-child(1) {
    display: block;
}

.card-trend:hover img:nth-child(2) {
    display: none;
}

.card-trend:hover img {
    transition: 0.5s all ease-in-out;
    scale: 1.08;
}

.card-trend:hover .card-img-overlay>h5 {
    transition: 0.5s all ease-in-out;
    color: rgb(255, 248, 48) !important;
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.card-img-overlay {
    bottom: 10px !important;
    left: 10px;
    top: auto;
}

.card {
    overflow: hidden;
}

.card img {
    transition: 0.5s all ease-in-out;
}

.card:hover img {
    transition: 0.5s all ease-in-out;
    scale: 1.1;
}

.blog-card {
    background: #ffcc0031;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.blog-title {
    color: #ff9800;
}

.blog-img {
    height: 100%;
    border-radius: 10px;
}

.blog-card .blog-img {
    transition: 0.5s all ease-in-out;
}

.blog-card:hover .blog-img {
    transition: 0.5s all ease-in-out;
    scale: 1.05;
}


@media (max-width:992px) {
    .card-trend {
        width: 46%;
    }

    .social-link {
        display: flex;
        justify-content: center !important;
    }

}

@media (max-width:768px) {
    .carousel-inner {
        height: 50vh !important;
    }

    /* for cards of tranding */
    .card-trend {
        max-height: 120px !important;
        /* height: auto !important; */
        width: 28%;
    }

    .card-img-overlay {
        display: none;

    }
}

@media (max-width:426px) {

    /* for slider */
    .carousel-inner {
        height: 30vh !important;
    }

    /* for cards of tranding */
    .card-trend {
        position: relative;
        max-height: 100px !important;
        /* height: auto !important; */
        width: 42%;

    }
}